<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="end" [routerLink]="['/places/add']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item-sliding *ngFor="let place of places">
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="removePlace(place.id)" expandable>
        <ion-icon name="trash-outline"></ion-icon> Delete
      </ion-item-option>
    </ion-item-options>
    <ion-item [routerLink]="['/places/detail', place.id]">
      <ion-avatar slot="start">
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>{{ place.title }}</ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-list>
</ion-content>
